@import '../../utils/variables';

.errorWrapper {
  width: 50%;
  margin: 2em auto;
  text-align: center;
}

.errorTitle {
  margin-bottom: 1em;
  color: $color-secondary;
  font-size: 3em;
  line-height: normal;
}

.errorText {
  color: $text-tertiary;
  font-size: 1.8em;
  line-height: normal;
}
