@import '../../utils/variables';

.logo {
  margin: 0;
  font-family: $font-secondary;
  font-size: 5em;
  letter-spacing: 0.04em;
}

.primary {
  @extend .logo;

  color: $color-light;
}

.secondary {
  @extend .logo;

  color: $color-secondary;
}
