@import '../../utils/variables';

.selectedOption,
.selectOptionLink {
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  font-family: $font-primary;
  font-size: 2.8em;
  text-decoration: none;

  &::after {
    overflow: hidden;
    height: 0;
    content: attr(data-text);
    content: attr(data-text) / "";
    font-weight: 700;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
  }
}

.selectedOption {
  padding-bottom: 0.4em;
  border-bottom: 4px solid transparent;
  margin-right: 1.8em;
  transition: all 0.2s;

  &_active {
    border-bottom: 4px solid currentColor;
    font-weight: 700;
  }
}

.selectOptionLink {
  width: 100%;
  height: 100%;
  text-align: left;

  &:hover {
    font-weight: 700;
  }
}

.selectOptionsList {
  position: absolute;
  z-index: 1000;
  left: 0;
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  visibility: hidden;

  @media screen and (max-width: $bp-xxxsmall) {
    width: 100%;
  }
}

.selectArrow {
  position: absolute;
  top: 0.6em;
  right: 2em;
  width: 13px;
  height: 13px;
  transform: rotate(180deg);
  transform-origin: center center;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    top: 4px;
    left: -2px;
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: $color-secondary;
    border-radius: 6px;
    content: "";
    transform: rotate(-38deg);
  }

  &::after {
    position: absolute;
    top: 4px;
    right: -2px;
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: $color-secondary;
    border-radius: 3px;
    content: "";
    transform: rotate(38deg);
  }
}

.selectButton {
  position: relative;
  display: inline-block;

  @media screen and (max-width: $bp-xxxsmall) {
    width: 100%;
  }

  &.active {
    & > .selectOptionsList {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    & > .selectArrow {
      transform: rotate(0);
    }
  }
}

.selectOption {
  padding: 10px;
  border-bottom: 1px solid transparentize($color: $text-tertiary, $amount: 0.9);
  background-color: $color-light;
}
