@import '../../utils/variables';

.selectOptionsList {
  position: absolute;
  z-index: 1000;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  visibility: hidden;
}

.selectArrow {
  position: absolute;
  top: 1em;
  right: 3em;
  width: 13px;
  height: 13px;
  transform: rotate(180deg);
  transform-origin: center center;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    top: 4px;
    left: -2px;
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: $color-secondary;
    border-radius: 6px;
    content: "";
    transform: rotate(-38deg);
  }

  &::after {
    position: absolute;
    top: 4px;
    right: -2px;
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: $color-secondary;
    border-radius: 3px;
    content: "";
    transform: rotate(38deg);
  }
}

.selectButton {
  position: relative;
  display: inline-block;

  &:hover {
    & > .selectOptionsList {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    & > .selectArrow {
      transform: rotate(0);
    }
  }
}

.selectOption {
  padding: 10px;
  border-bottom: 1px solid transparentize($color: $text-tertiary, $amount: 0.9);
  background-color: $color-light;
  color: $color-secondary;
  cursor: pointer;
  font-size: 2em;

  &:hover {
    font-weight: 700;
  }
}
