@import '../../utils/variables';

.movieListGrid {
  display: grid;
  margin-bottom: 4em;
  gap: 4em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  & > * {
    justify-items: stretch;
  }

  @media screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @media screen and (max-width: $bp-xxxsmall) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @media screen and (max-width: $bp-xxxxsmall) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.movieListTable {
  display: block;
  margin-bottom: 4em;
}
