@import '../../utils/variables';

.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-right: $pr;
  padding-left: $pl;
}

.primary {
  @extend .header;

  height: 15em;
  padding-top: 3em;
  background: linear-gradient(to bottom, #8a8b8b, transparent);
}

.secondary {
  @extend .header;

  padding: 0;
  border-bottom: 1px solid transparentize($color: $text-tertiary, $amount: 0.9);
  margin-bottom: 4em;
}
