$font-primary: 'Helvetica Neue', arial, sans-serif;
$font-secondary: 'Helvetica Neue Condensed', arial, sans-serif;

$color-light: #fff;
$color-dark: #0b0b0b;
$color-secondary: #0aaee4;
$color-tertiary: #47c3f0;
$bg-color: #f5f6f6;
$text-tertiary: #242b2d;

$width: 2120px;

$pr: max(calc((100% - #{$width}) / 2), 2em);
$pl: max(calc((100% - #{$width}) / 2), 2em);
