@import '../../utils/variables';

.footer {
  padding-top: 8em;
  padding-bottom: 5.5em;
  background-color: $color-light;
  text-align: center;

  &__copyRight {
    margin-top: 3em;
    color: $text-tertiary;
    font-family: $font-primary;
    font-size: 2.4em;
    opacity: 0.4;
  }
}
